
<div class="jumbotron m-3">

  <h1 class="display-4"><%= @betting.team %></h1>
  
<ul>
    <%# debugger %>
    <%= text_field_tag :points , id: "points" %>


 <li>

    <br>

    <%= link_to "Submit", root_path, id: "form",class:"btn btn-primary" %></li>

</ul>
<script>
        debugger 

</script>
